
/**
 * styles/base.css
 */

/**
 * Layout
 * {{{
 * =============================================================================
 */

body {
	color: var(--color--body--text);
	background-color: var(--color--body--bg);
}

.page {
	position: relative;
}

.page__header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.page__header > div {
	position: absolute;
	top: 2px;
}

.page__header__navlinks { left:  2px; }
.page__header__settings { right: 6px; }

.page__wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin: 0 auto;
	padding: 10px 20px 40px 20px;
}

/**
 * }}}
 */

/**
 * Sidebar
 * {{{
 * =============================================================================
 */

.sidebar {
	display: none;
	overflow-y: auto;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	width: 25rem;

	padding: 0 40px 0 20px;

	text-align: left;

	background-color: var(--color--sidbar-bg);
}

.sidebar__contents {
	margin: 40px 0;
}

.sidebar--open      { display: block; }
.page--sidebar-open { margin-left: calc(25rem + 60px); }

.sidebar p {
	font-weight: bold;
}

.sidebar p:not(:first-child) {
	margin-top: 40px;
}

.sidebar details {
	margin-top: 10px;
}

.sidebar details[open] {
	margin-bottom: 30px;
}

.sidebar details       summary::before { content: '▸'; }
.sidebar details[open] summary::before { content: '▾'; }

.sidebar details > ol li {
	margin-left: 60px;
}

.sidebar summary {
	display: flex;

	margin-bottom: 10px;

	cursor: pointer;
	user-select: none;
}

.sidebar summary ol {
	list-style-type: decimal-leading-zero;
}

/**
 * }}}
 */

/**
 * Buttons & navigation links
 * {{{
 * =============================================================================
 */

button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	font-size: 20px;

	border: none;
	appearance: none;
	background: none;

	font-weight: bold;

	cursor: pointer;
	user-select: none;
}

button svg {
	width:  20px;
	height: 20px;
}

.navlink {
	display: block;

	font-size: 22px;
	font-weight: bold;
	font-family: "Fira Sans", sans-serif;

	text-align: center;
}

button,       .navlink       { color: var(--color--button--text);        }
button:hover, .navlink:hover { color: var(--color--button--text--hover); }

.button-sidebar--hidden {
	display: none;
}

/**
 * }}}
 */

/**
 * Fonts
 * {{{
 * =============================================================================
 */

body, #button-setting-font {
	font-family: var(--font--body);
	font-size: var(--font-size--body);
}

pre, code, kbd, .tag, .placeholder {
	font-family: "Hack", "Fira Mono", monospace;
	font-size: 1.5rem;
}

body { line-height: var(--line-spacing--body); }
pre  { line-height: var(--line-spacing--pre);  }

/**
 * }}}
 */

/**
 * Headers
 * {{{
 * =============================================================================
 */

h1, h2, h3 {
	position: relative;

	font-weight: bold;

	text-align: left;
}

h1      { font-size: var(--font-size--h1); }
h2      { font-size: var(--font-size--h2); }
h3      { font-size: var(--font-size--h3); }

h2      { margin-top: 60px; }
h3      { margin-top: 40px; }
h1 + h2 { margin-top: 40px; }

h2 {
	padding-bottom: 2px;

	border-bottom: 1px solid var(--color--header--border);
}

.header-anchor {
	position: absolute;
	top: 0;
	right: 100%;

	padding-right: 10px;

	color: var(--color--header-anchor--text);
}

:not(h3) > .header-anchor:hover {
	text-decoration: underline;
}

/**
 * Hide the anchors of the secondary headers
 * and display them when the header or the anchor is hovered
 */
h3 .header-anchor                                { opacity: 0; }
h3:hover .header-anchor, h3 .header-anchor:hover { opacity: 1; }

/**
 * Homepage logo
 */
h1.logo {
	font-size: 7rem;
	text-align: center;
	color: gray;
}

.logo__emphasis {
	color: #007f00;
}

/**
 * }}}
 */

/**
 * Tables
 * {{{
 * ---------------------------------------------------------------------
 */

table {
	margin: 20px 20px 0 20px;

	border-collapse: collapse;
}

tr {
	vertical-align: top;
}

tr:not(:first-child) td {
	padding-top: 10px;
}

th {
	font-weight: bold;
}

/**
 * Disable text wrapping in the first column
 * to avoid breaking commands into several lines
 */
td:first-child {
	white-space: nowrap;
}

td:not(:last-child) {
	padding-right: 40px;
}

/**
 * }}}
 */

/**
 * Lists
 * {{{
 * =============================================================================
 */

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: '⬩ ';
}

li {
	margin-left: 40px;
}

.table-of-contents li {
	text-align: left;
}

:not(.table-of-contents) > li::marker {
	font-weight: bold;
}

.li-contents {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

/**
 * }}}
 */

/**
 * Notes & warnings
 * {{{
 * =============================================================================
 */

.note, p.warning {
	padding: 14px;
}

.note {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin-top: 20px;

	background-color: var(--color--note--bg);
}

table + .note {
	margin-top: 40px;
}

.note p:first-child {
	margin-top: 0;
}

p.warning {
	color: var(--color--warning--text);
	background-color: var(--color--warning--bg);
}


/**
 * }}}
 */

/**
 * Paragraphs
 * {{{
 * =============================================================================
 */

p      { margin-top: 20px; }
h3 + p { margin-top: 10px; }

p.centered {
	text-align: center;
}

/**
 * }}}
 */

/**
 * Formatted text
 * {{{
 * =============================================================================
 */

pre {
	overflow-x: auto;

	align-self: flex-start;

	margin-top: 20px;
	padding: 4px 8px;

	line-height: 1.4;

	border: 1px solid var(--color--pre--border);
}

/**
 * Fix bug where <pre> blocks are slightly bigger in <li> elements
 */
li pre {
	padding: 0 6px 2px 8px;
}

.command-block   { border-color: var(--color--command-block--border);   }
.message-error   { border-color: var(--color--message-error--border);   }
.message-warning { border-color: var(--color--message-warning--border); }

/**
 * }}}
 */

/**
 * Links
 * {{{
 * =============================================================================
 */

a {
	text-decoration: none;

	color: var(--color--anchor--text);
}

/**
 * }}}
 */

/**
 * Inline code & keybindings
 * {{{
 * =============================================================================
 */

:not(pre) > code {
	padding: 2px;

	background-color: var(--color--inline-code--bg);
}

/**
 * Add slightly more horizontal padding to
 * inline code in the first column of a table
 */
td:first-child > code {
	padding-left:  4px;
	padding-right: 4px;
}

kbd          { color: var(--color--keybinding--text);  }
.placeholder { color: var(--color--placeholder--text); }

/**
 * }}}
 */

/**
 * Tags
 * {{{
 * =============================================================================
 */

.tag {
	padding: 2px;

	border: 1px solid var(--color--tag--border);
}

.note .tag {
	border-color: var(--color--tag--border--note);
}

.tag.link       { color: var(--color--anchor--text);     }
.tag.option     { color: var(--color--option--text);     }
.tag.command    { color: var(--color--command--text);    }
.tag.keybinding { color: var(--color--keybinding--text); }

/**
 * }}}
 */

/**
 * Mobile
 * {{{
 * =============================================================================
 */

@media(max-width: 56.25em)
{
	.page__header {
		display: none;
	}

	.page__wrapper {
		display: block;
	}

	table {
		margin-left: 0;
		margin-right: 0;
	}

	:not(h3) > .header-anchor {
		position: static;
	}
}

/**
 * }}}
 */
