
/**
 * styles/text.css
 */

/**
 * Font family
 * {{{
 * =============================================================================
 */

/**
 * Sans serif
 */
:root[data-font-family="sans-serif"]
{
	--font--body: "Fira Sans", "Open Sans", "Helvetica", sans-serif;

	--font-size--body: 1.6rem;
	--font-size--h1:   3.1rem;
	--font-size--h2:   2.1rem;
	--font-size--h3:   1.6rem;

	--line-spacing--body: 1.4;
}

/**
 * Serif
 */
:root[data-font-family="serif"]
{
	--font--body: "Garamond", "EB Garamond", "Palatino", "Georgia", serif;

	--font-size--body: 2.0rem;
	--font-size--h1:   3.5rem;
	--font-size--h2:   2.5rem;
	--font-size--h3:   2.0rem;

	--line-spacing--body: 1.1;
}

/**
 * }}}
 */

/**
 * Font size
 * {{{
 * =============================================================================
 */

:root[data-font-size="small"]                 { font-size: 62.5%;  }
:root[data-font-size="normal"]                { font-size: 68.75%; }
:root[data-font-size="big"]                   { font-size: 75%;    }

:root[data-font-size="small"]  .page__wrapper { max-width: 700px;  }
:root[data-font-size="normal"] .page__wrapper { max-width: 750px;  }
:root[data-font-size="big"]    .page__wrapper { max-width: 800px;  }

/**
 * Slightly reduce the font size on mobile
 */
@media(max-width: 56.25em)
{
	:root[data-font-size="small"]         { font-size: 60%;    }
	:root[data-font-size="normal"]        { font-size: 66.25%; }
	:root[data-font-size="big"]           { font-size: 72.5%;  }

	:root[data-font-family="sans-serif"]  { --line-spacing--body: 1.3; }
	:root[data-font-family="serif"]       { --line-spacing--body: 1;   }
}

/**
 * }}}
 */

/**
 * Text alignment
 * {{{
 * =============================================================================
 */

:root[data-text-align="justify"] {
	text-align: justify;
}

:root[data-text-align="justify"] #option--text-align--left    { display: none; }
:root[data-text-align="left"]    #option--text-align--justify { display: none; }

/**
 * }}}
 */
